:export {
  colorPrimary: #4ea0c3;
  colorPrimaryLight: #f3acac; // grey
  colorSecondary: #493c3c; // red
  colorSecondaryLight: #D3D3D3; // light grey
  colorSecondaryDark: #000000; // dark grey
  colorBackground:  #222222; // black
  colorText: #FFFFFF; // white
}