:export {
  colorPrimary: #027caf;
  colorSuccess: #009000;
  colorPrimaryLight: #f3acac; // grey
  colorSecondary: #493c3c; // red
  colorSecondaryLight: #D3D3D3; // light grey
  colorSecondaryDark: #000000; // dark grey
  colorBackground:  #121212; // black
  colorText: #FFFFFF; // white
}